* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-family: Poppins;
}

body {
  background-image: url(./assets/team-group.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
header{
  width: 1220px;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #FFF;
  width: 100%;
}

.nav-item {
  margin: 0px 70px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  padding-left: 80px;
}

.nav-item li a {
  color: #394149;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.section1 {
  padding-top: 10rem;
  /* margin-top: 60px; */
}

.section1 .content {
  display: flex;
  align-items: center;
  padding-left: 110px;
  gap: 60px;
}

.section1 .content>div>h1 {
  width: 400px;
  font-size: 35px;
  font-weight: 500;
  font-weight: 600;
  color: #1D3444;

}

.section1 .content>div>p {
  width: 450px;
  color: #5B5B5B;
}

.section1 .content>div>button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 50px;
  color: #FFFFFF;
  background: #F58A07;
  border: none;
}

#my-lady {
  width: 370px;
  border-radius: 10px;
}

.posts {
  position: relative;
}

.square {
  position: absolute;
  bottom: 8px;
  width: 100px;
  height: 511px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #F58A07;
  mix-blend-mode: multiply;
}

#circle {
  position: absolute;
  bottom: -40px;
  right: -45px;
  width: 90px;
}

.section_2 {
  width: 1150px;
  margin: 80px 0 0 100px;
}

.section_2 .content2 {
  display: flex;
  gap: 6rem;
}

.content2>div>h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.section_2 #content {
  padding-top: 40px;
  display: flex;
  gap: 2rem;

}

#text1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  color: #F58A07;
}

#text2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 56px;
  color: #0D1317;

}

#text3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

}

.section_3 {
  width: 1130px;
  display: flex;
  align-items: center;
  margin: 80px 0 0 97px;
  gap: 6rem;
}

#commit {
  width: 370px;
}

.section_3>div>h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  color: #0D1317;
}

.section_3>div>p {
  width: 500px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.rec-box {
  position: relative;
}

.rectangle {
  position: absolute;
  bottom: -10px;
  right: -30px;
  width: 180px;
  height: 177px;
  background: #F58A07;
  border-radius: 15px;
  mix-blend-mode: multiply;
}

.section_4 {
  width: 1150px;
  margin: 80px 0 0 97px;
}
.section_4>div{
  border: 2px solid red;
}
.section_4>div>h2 {
  width: 450px;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: #0D1317;
}

.section_4>div>p {
  width: 650px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #5B5B5B;
  padding-top: 30px;
}

.gender {
  margin-top: 50px;
  display: flex;
  gap: 2.4rem;
}

#g-list {
  width: 250px;
  border-radius: 10px;
}
#g-lists{
  width: 250px;
  border-radius: 10px;
}
#g-listes{
  width: 255px;
  border-radius: 10px;
}
.bg-text{
  position: relative;
}
.bg{
  position: absolute;
  bottom: 11px;
  right: 0px;
  background: #252525;
  width: 256px;
  height: 200px;
  border-radius: 10px;
  mix-blend-mode: multiply;
}
#bg-text{
  mix-blend-mode:hard-light;
  color: #FFFFFF;
font-size: 14px;
font-weight: 400;
line-height: 28px;
}
.bg-text .bg{
  padding: 20px 0 0 30px;
}
.bg-text .bg>h4{
  font-size: 18px;
  font-weight: 600;
}
.section5 {
  width: 1130px;
  display: flex;
  align-items: center;
  margin: 80px 0 0 109px;
}

.section5>div .advices>h1 {
  width: 450px;
  color: #0D1317;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.section5>div .advices>p {
  width: 480px;
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.section5 .points {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
}
#godslove3{
  width: 150px;
  border-radius: 70px;
}
#female {
  width: 430px;
  border-radius: 40px;
}

.play {
  position: relative;
  padding-left: 5em;
}

#females {
  position: absolute;
  right: 250px;
  bottom: 40px;
}

.section5>div .my-texts {
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  color: #063255;
}

.section5>div #span {
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  color: #F58A07;
}

.section6 {
  margin-top: 70px;
  background: #DCEAF5;
  width: 1263px;
  height: 700px;
}

.section6 .my-content {
  padding: 60px 90px;
}

.last-statement {
  display: flex;
  gap: 35px;
}

.last-statement .fixed-point {
  padding: 10px 11px;
}

.section6 .my-content>div>h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 31px;
}

#teams-work {
  width: 320px;
}
.last-statement{
  padding-top: 40px;
}
.last-statement>div {
  background: #FFFFFF;
  width: 320px;
  height: 490px;
  border-radius: 20px;
}

.last-statement>div .fixed-point>h4 {
  font-size: 20px;
  line-height: 40px;
}

.last-statement>div .fixed-point>p {
  font-size: 14px;
  line-height: 30px;
}
.my-advice{
  display: flex;
  align-items: center;
  gap: 8px;
}
.advice{
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  color: #F58A07;
}
.section7 {
  background: #063255;
  width: 1263px;
  height: 500px;
}

.first-bg {
  position: relative;
}

.left-bg {
  position: absolute;
  top: 350px;
  background: #F58A07;
  border-top-right-radius: 20px;
  width: 40px;
  height: 150px;
}

.right-bg {
  position: absolute;
  right: 0px;
  top: 30px;
  background: #F58A07;
  width: 35px;
  height: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.section7 .footer-content .footer-text>div>h2 {
  color: #FFFFFF;

}

.section7 .footer-content {
  display: flex;
}

.section7 .footer-content>div {
  padding: 35px 0 0 100px;
}
.footer-content .footer-text>div{
  padding-top: 10px;
}
.section7>div .social-icons {
  display: flex;
  gap: 12px;
  padding-top: 20px;
}

.footer-text1 {
  color: #FFFFFF;
  line-height: 50px;
}

.footer-texts {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  color: #FFFFFF;

}

.footer-text1>button {
  color: #FFFFFF;
  font-family: poppins;
  background: #F58A07;
  border-radius: 50px;
  border: none;
  padding: 10px 40px;
}

.form .input-box input {
  padding-left: 25px;
  font-family: poppins;
  width: 250px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
}

.navbar #checkbtn {
  line-height: 80px;
  font-size: 30px;
  display: none;
}

#check {
  display: none;
}

#check:checked~ul {
  right: 0;
}

@media only screen and (max-width: 600px) {
  * {
    /* border: 2px solid red; */
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 2px;
    width: 100%;
    color: #255679;
    height: 40px;
  }

  .logo {
    padding: 0;
    margin-top: 20px;
  }

  .navbar #checkbtn {
    display: block;
    position: absolute;
    position: relative;
    left: 20px;
    top: 10px;
  }

  .nav-item li a {
    color: #50a1e4;
  }

  .nav-item {
    margin: 0;
    display: block;
    text-align: center;
    line-height: 54px;
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    width: 52%;
  }

  .section1 {
    padding: 0;
  }

  .section1 .content {
    padding: 10% 10%;
    flex-direction: column;
    gap: 30px;
  }

  .section1 .content>div>h1 {
    width: 100%;
    font-size: 25px;
  }
  .section1 {
    margin-top: 60px;
  }
  
  .section1 .content>div>p {
    width: 100%;
  }
  .posts {
    position: relative;
    z-index: -1;
  }

  #my-lady {
    width: 100%;
  }

  .square {
    position: absolute;
    bottom: 7px;
    width: 27%;
    height: 98%;

  }

  #circle {
    position: absolute;
    bottom: -40px;
    right: -30px;
    width: 30%;
  }

  .section_2 {
    width: 100%;
    margin: 0;
    padding: 10% 10%;
  }

  .section_2 .content2 {
    flex-direction: column;
    gap: 3rem;
  }

  .section_2 #content {
    flex-direction: column;
    gap: 1rem;

  }

  .section_3 {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0 10%;
    gap: 2rem;
  }

  #commit {
    width: 100%;
  }

  .section_3>div>h1 {
    line-height: 30px;
    font-size: 1.2rem;
  }

  .section_3>div>p {
    width: 100%;
    padding-top: 20px;
  }

  .rec-box {
    position: relative;
    z-index: -1;
  }

  .rectangle {
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 45%;
    height: 40%;
  }
  .section_4 {
    width: 100%;
    margin: 0;
    padding: 20% 10%;
  }
  
  .section_4>div>h2 {
    width: 100%;
    font-size: 38px;
  }
  
  .section_4>div>p {
    width: 100%;
    line-height: 30px;
    padding-top: 10px;
  }
  
  .gender {
    margin: 0;
    margin-top: 50px;
   flex-direction: column;
    gap: 2rem;
  }
  
  #g-list {
    width: 100%;
    height: 20%;
  }
  #g-lists{
    width: 100%;
    border-radius: 10px;
  }
  #g-listes{
    width: 100%;
  }
  .bg-text{
    position: relative;
    z-index: -1;
  }
  .bg{
    position: absolute;
    bottom: 8px;
    width: 100%;
  }
  .section5 {
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin: 0;
    margin-top: 30px;
    padding: 0 5%;
  }

  .section5>div .advices>h1,
  .section5>div .advices>p {
    width: 100%;
  }

  .section5 .points {
    padding-top: 10px;
  }

  #female {
    width: 100%;
  }

  .play {
    position: relative;
    padding: 0;
    z-index: -1;
  }

  #females {
    position: absolute;
    right: 7em;
    bottom: 40px;
  }

  .section5>div .my-texts {
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    color: #063255;
  }

  .section5>div #span {
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    color: #F58A07;
  }

  .section6 {
    margin-top: 40px;
    width: 100%;
    height: 1650px;
  }
.section6 .my-content>div>h1{
  line-height: 70px;
}
  .section6 .my-content {
   padding: 0;
    padding: 0 5%;
  }

  .last-statement {
    flex-direction: column;
    gap: 20px;
  }
  
  #teams-work {
    width: 100%;
  }

  .last-statement>div {
    width: 100%;
    height: 100%;
  }

  .last-statement>div .fixed-point>h4 {
    font-size: 20px;
    line-height: 40px;
  }

  .last-statement>div .fixed-point>p {
    font-size: 14px;
    line-height: 30px;
  }

  .section7 {
    padding-top: 40px;
    width: 100%;
    height: 830px;
  }

  .left-bg,
  .right-bg {
    display: none;
  }
  .section7 .footer-content {
   text-align: center;
    flex-direction: column;
    gap: 20px;
  }

  .section7 .footer-content>div {
    padding: 0;
  }

  .section7>div .social-icons {
  justify-content: center;
    gap: 12px;
    padding-top: 20px;
  }

  .footer-text1 {
    color: #FFFFFF;
    line-height: 45px;
  }

  .footer-texts {
    flex-direction: column;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;

  }
  
}