* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-family: Poppins;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #FFF;
  width: 1263px;
}

.nav-item {
  margin: 0px 70px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  padding-left: 80px;
}

.nav-item li a {
  color: #394149;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}


.section1 {
  margin: 3rem 0 0 7rem;
}

.section1 .my-message {
  display: flex;
}

.section1 .my-message>div>h2 {
  width: 500px;
  font-size: 38px;
  font-weight: 600;
  line-height: 54px;
  color: #1D3444;
}

.section1 .my-message>div>p {
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  color: #5B5B5B;

}

.form {
  padding: 0.4rem 0;
}

.form .input-box input {
  font-family: poppins;
  padding-left: 25px;
  background: #D2DAED2B;
  width: 470px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #9C9C9C;

}
#holder{
  padding-top: 6%;
  padding-bottom: 30%;
}
.section1 .my-message>div>button {
  margin-top: 20px;
  color: #FFFFFF;
  font-family: poppins;
  background: #F58A07;
  border-radius: 50px;
  border: none;
  padding: 10px 40px;
}

.My-forms>div {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.My-forms>div>div>p {
  width: 250px;
}

#map {
  width: 550px;
  margin-top: 40px;
}
.section9 {
  margin-top: 60px;
  background: #063255;
  width: 1263px;
  height: 500px;
}

.first-bg {
  position: relative;
}

.left-bg {
  position: absolute;
  top: 350px;
  background: #F58A07;
  border-top-right-radius: 20px;
  width: 40px;
  height: 150px;
}

.right-bg {
  position: absolute;
  right: 0px;
  top: 30px;
  background: #F58A07;
  width: 35px;
  height: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.section9 .footer-content .footer-text>div>h2 {
  color: #FFFFFF;

}

.section9 .footer-content {
  display: flex;
}

.section9 .footer-content>div {
  padding: 35px 0 0 100px;
}
.footer-content .footer-text>div{
  padding-top: 10px;
}
.section9>div .social-icons {
  display: flex;
  gap: 12px;
  padding-top: 20px;
}

.footer-text1 {
  color: #FFFFFF;
  line-height: 50px;
}

.footer-texts {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  color: #FFFFFF;

}

.footer-text1>button {
  color: #FFFFFF;
  font-family: poppins;
  background: #F58A07;
  border-radius: 50px;
  border: none;
  padding: 10px 40px;
}

.section9 .footer-text1 .form .input-box input {
  background: #FFFFFF;
  padding-left: 25px;
  font-family: poppins;
  width: 250px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
}
.navbar #checkbtn {
  line-height: 80px;
  font-size: 30px;
  display: none;
}

#check {
  display: none;
}

#check:checked~ul {
  right: 0;
}

@media only screen and (max-width: 600px) {
  * {
    /* border: 2px solid red; */
  }

  body {
    background-position: center;
    max-width: 100%;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 2px;
    width: 100%;
    color: #255679;
    height: 40px;
  }

  .logo {
    padding: 0;
    margin-top: 20px;
  }

  .navbar #checkbtn {
    display: block;
    position: absolute;
    position: relative;
    left: 20px;
    top: 10px;
  }

  .nav-item li a {
    color: #50a1e4;
  }

  .nav-item {
    margin: 0;
    display: block;
    text-align: center;
    line-height: 54px;
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    width: 52%;
  }
  .section1 {
   margin: 0;
   margin-top: 6em;
  }
  
  .section1 .my-message {
    padding: 0 10%;
    flex-direction: column;
  }
  
  .section1 .my-message>div>h2 {
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    line-height: 40px;
    color: #1D3444;
  }
  
  .section1 .my-message>div>p {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #5B5B5B;
  
  }
  
  .form {
    padding: 0.4rem 0;
  }
  
  .form .input-box input {
    width: 100%;
    height: 60px;
  }
  
  .section1 .my-message>div>button {
    margin-top: 20px;
    color: #FFFFFF;
    font-family: poppins;
    background: #F58A07;
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
  }
  
  .My-forms>div {
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .My-forms>div>div>p {
    width: 250px;
  }
  
  #map {
    width: 100%;
    margin-top: 40px;
  }
  .section9 {
    padding-top: 40px;
    width: 100%;
    height: 830px;
  }
  
  .left-bg,
  .right-bg {
    display: none;
  }
  .section9 .footer-content {
   text-align: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .section9 .footer-content>div {
    padding: 0;
  }
  
  .section9>div .social-icons {
  justify-content: center;
    gap: 12px;
    padding-top: 20px;
  }
  
  .footer-text1 {
    color: #FFFFFF;
    line-height: 45px;
  }
  
  .footer-texts {
    flex-direction: column;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
  
  }
}